<form action="/cart" method="post">
  <input type="hidden" name="produkId" value="<%= produk.id %>" />
  <button class="btn btn-outline-primary" type="submit ">
    Tambah Ke Keranjang
  </button>
</form>
