<%- include('includes/head.ejs') %>
</head>
<%- include('includes/nav.ejs') %>

<h1 class="error">Page Not Found 500</h1>
<p class="center500">Website sedeng bermasalah, kami sedang memperbaikinya </p>
<%- include('includes/end.ejs') %>
