html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My Style */

.nav-item {
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar-brand {
  margin-right: 50px;
}

.error {
  text-align: center;
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 35px;
}

.mainPage {
  text-transform: uppercase;
}
.card {
  margin-top: 15px;
  margin-bottom: 35px;
}

.display-5 {
  text-transform: uppercase;
  font-size: 25px;
  color: red;
}

.card-text {
  text-align: justify;
}

.adminbtn {
  margin-right: 10px;
}

.card-body {
  padding-bottom: 5rem;
}

.detail {
  text-decoration: none;
  color: #dc3545;
}

.tombol {
  display: inline-flex;
}

.btn-outline-primary,
.btn-outline-danger {
  margin-left: 5px;
  padding: 10px;
}

#hapuscart {
  display: flex;
}

.btndata {
  border: none;
  background-color: white;
  text-transform: uppercase;
}

.btndata:hover {
  color: red;
}

p {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-title {
  margin-top: 10px;
}

.logut {
  display: flex;
}
