<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs') %>
<!--  -->
<br>
<div class="container">
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order.id %></h1>
                        <ul>
                        
                        </ul>
                    </li>
                    <br>
                <% }); %>
            </ul>
        <% } %>
    </main>
</div>
<%- include('../includes/end.ejs') %>   